body{
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 50px;
        }

        .column {
            float: left;
            width: 500.00%;
        }
       
        .row {
            margin: 10px 0;
        }
        
        input {
            margin: 0 auto;
        }
        
        label {
            display: block;
        }