html
    head
        Title= "Form response using template"
    body
        Firstname= "Firstname: " + firstname
        | #[br]
        Lastname= "Lastname: " + lastname
        | #[br]
        Studentnum= "Studentnum: " + studentnum
