/* 1. Define font style and size for paragraphs and headers */
body {
    color: white;
    background-color: pink;
}
h1{
    font-style: normal;
    font-size: 50px;
    color: #1C167A;
}
h2{
    text-decoration: underline ;
    font-style: normal;
    font-size: 35px;
    color: #FF1493;
    text-align: center;
}
p{
    font-style: oblique;
    font-size: 22px;
    
}
mark {
    background-color: yellow;
    color: red;

}
/* 2. Define style and color of table borders */
table{
    border-style: dashed;
    border-color: red;

}
/* 3. Remove underlines from links */
a:link {
  text-decoration: none;
}

/* 4. Change the style of markers for unordered lists */

ol li{
    padding: 7px;
}

ul li{
   list-style-type: '🍓';
   padding: 5px;

}